@model _20220907_ROBERT_AGUILAR.EVENTO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DETALLES</h2>

<div>
    <h4>EVENTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            INSTITUCIÓN:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_institucion)
        </dd>

        <dt>
            DIRECCIÓN:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            ALUMNOS:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad_alumnos)
        </dd>

        <dt>
            HORA DE INICIO:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora_inicio)
        </dd>

        <dt>
            TIPO DE SERVICIO:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_servicio)
        </dd>

        <dt>
            VALOR DEL SERVICIO:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_servicio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("EDITAR", "Edit", new { id = Model.Id_evento }) |
    @Html.ActionLink("REGRESAR", "Index")
</p>
