@model _20220907_ROBERT_AGUILAR.EVENTO

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>EVENTO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_institucion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_institucion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cantidad_alumnos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cantidad_alumnos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hora_inicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora_inicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tipo_servicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipo_servicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_servicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_servicio)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id_evento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
