@model IEnumerable<_20220907_ROBERT_AGUILAR.EVENTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>LISTA DE EVENTOS</h2>

<p>
    @Html.ActionLink("CREAR EVENTO", "Create")
</p>
<table class="table">
    <tr>
        <th>
            NOMBRE DE LA INSTITUCIÓN.
        </th>
        <th>
            DIRECCIÓN
        </th>
        <th>
           CANTIDAD DE ALUMNOS.
        </th>
        <th>
            HORA DE INICIO.
        </th>
        <th>
            TIPO DE SERVICIO.
        </th>
        <th>
            VALOR DEL SERVICIO.
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre_institucion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad_alumnos)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hora_inicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_servicio)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valor_servicio)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id_evento }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id_evento }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id_evento })
        </td>
    </tr>
}

</table>
